.listing{
    width: 23vw;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    margin: 5vh 0;
}
.listing-info{
    background-color: #e1c69b;
    width: 100%;
    height: 25vh;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.listing-photo-frame{
    height: 38vh;
    width: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listing-photo-div {
  margin-top: 5px;
  width: 100%;
  height: 33vh;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.listing-photo {
  width: 100%;
  height: 100%;
  object-fit: contain; /* CHANGE THIS to contain */
  object-position: center;
  display: block; /* Good practice */
}
.listing-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.listing-heading{
    max-width: 18vw;
}
.primary{
    width: 10vw;
}

.likes:hover{
    cursor: pointer;
    color: black;
}
.likes img{
    width: 3vh;
}
.remove{
    font-size: 30px;
}
.remove:hover{
    color: black;
    cursor: pointer;
}

.actions {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 4px;
  border-radius: 4px;
}

.likes {
  display: flex;
  align-items: center;
  color: #333;
}

.likes img {
  width: 20px; /* Adjust size */
  height: 20px;
  margin-right: 5px;
}

.listing-react{
  display: flex;
  align-items: center;
}
