<section class="listing">
  <div class="listing-photo-frame">
    <div class="listing-photo-div">
      <img class="listing-photo" [src]="product.photo_url" alt="Photo of: {{ product.name }}">
      <div class="actions">
        <div class="likes" (click)="like()"><img src="/assets/like-icon.png"> {{product.likes}}</div>
      </div>
    </div>
    </div>
  <div class="listing-info">
    <h2 class="listing-heading"> {{ product.name }} </h2>
    <h3>☆ {{product.rating}}</h3>
    <p class="lisitng-price"> {{ product.price }} ₸ </p>
    <button class="primary" [routerLink]="['/details', product.id]">View Details</button>
  </div>
</section>
