<a class="leaving" [routerLink]="'../'">Leave signing up</a>
<div class="sign-up-div">
  <form (ngSubmit)="onSubmit()" class="sign-up-form">
    <label>Surname</label>
    <input type="text" [(ngModel)]="user.last_name" name="last_name" required />

    <label>Name</label>
    <input type="text" [(ngModel)]="user.first_name" name="first_name" required />

    <label>Username</label>
    <input type="test" [(ngModel)]="user.username" name="username" required />

    <label>Email</label>
    <input type="email" [(ngModel)]="user.email" name="email" required />

    <label>Password</label>
    <input type="password" [(ngModel)]="user.password" name="password" required />

    <button type="submit" class="primary">Sign up</button>
  </form>
  <a class="link" [routerLink]="'../sign-in'">Sign in</a>
  <p>© FreeBird 2025</p>
</div>
