<a class="leaving" [routerLink]="'../'">Leave signing in</a>
<div class="sign-in-div">
  <form class="sign-in-form">
    <label>Login</label>
    <input type="text" placeholder="Login" [(ngModel)]="authModel.username" name="login">
    <label>Password</label>
    <input type="password" placeholder="Password" [(ngModel)]="authModel.password" name="password">
  </form>
  <button class="primary" (click)="login()">Sign in</button>
  <a class="link" [routerLink]="'../sign-up'">Sign up</a>
  <p>© FreeBird 2025</p>
</div>
