<header>
  <img class="brand-logo" src="/assets/logo.png" alt="logo">
  <div>
    <section *ngIf="!logged_in" class="logging">
      <button class="primary" id="sign_in" [routerLink]="['/sign-in']">Sign in</button>
      <button class="primary" id="sign_up" [routerLink]="['/sign-up']">Sign up</button>
    </section>
    <div class="logged" *ngIf="logged_in">
      <div>
        <button class="primary">Cart</button>
        <button class="primary">Favorite</button>
      </div>
      <div id="user">
        <img class="user-img" src="assets/user.png" (click)="popUp()">
        <section class="pop-up" *ngIf="isPopupVisible">
          <button>Orders</button>
          <button>Sign out</button>
        </section>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="results">
    <router-outlet></router-outlet>
  </section>
  <input class="temp-tumbler" type="checkbox" (click)="log()">
</main>
