<h2>Your Shopping Cart</h2>
<app-routing-button [routePath]="['/']" class="return_button">←Return</app-routing-button>

<section class="cart-items" *ngIf="cartItemList.length > 0; else emptyCart">
  <div *ngFor="let item of cartItemList" class="cart-item-container">
    <app-cart-item
      [cartItem]="item"
      (remove)="handleRemoveItem($event)"
      (update)="handleUpdateQuantity($event)">
    </app-cart-item>
  </div>

  <div class="cart-footer">
    <div class="total-price">
      Total: {{ calculateTotalPrice() | currency:'KZT':'symbol':'1.2-2' }}
    </div>
    <button
      (click)="createOrder()"
      class="checkout-btn"
      [disabled]="!cartItemList.length"
    >
      Create order
    </button>
  </div>
</section>

<ng-template #emptyCart>
  <p>Your shopping cart is empty.</p>
</ng-template>
