<h2>Your Shopping Cart</h2>

<section class="cart-items" *ngIf="cartItemList.length > 0; else emptyCart">
  <div *ngFor="let item of cartItemList" class="cart-item-container">
    <app-cart-item
      [cartItem]="item"
      (remove)="handleRemoveItem($event)"
      (update)="handleUpdateQuantity($event)">
    </app-cart-item>
  </div>

  <section class="cart-summary">
    <h3>Summary</h3>
    <p>Total Items: {{ cartItemList.length }}</p>
    <button>Proceed to Checkout</button>
  </section>

</section>

<ng-template #emptyCart>
  <p>Your shopping cart is empty.</p>
</ng-template>
