.sign-up-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 70vh;
  background-color: #7a9794;
  border: 1px solid #3c5654;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top:5vh;
}
.sign-up-div button{
  width: 20vw;
  font-size: 20px;
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
  height: 55vh;
}

.sign-up-form{

}

.link{
  color: white;
}
.link:hover{
  color: #dfd9d0;
}

.leaveing{
  position: absolute;
  left: 15vw;
  top: 15vh;
}
