.div-results{
  display: flex;
  justify-content: center;
}
h4 {
  position: relative;
  left: 43vw;
  width: 14vw;
}
.results {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 0 5.5vw;
}

.search{
  position: absolute;
  top: 2.5vh;
  right: 16vw;
  width: 20vw;
}
.search form{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.categories{
  background-color: var(--primary-dark);
  width: 98.9vw;
  display: flex;
  height: 5vh;
  align-items: center;
}
.category-button{
  cursor: pointer;
  background-color: #fff;
  height: 4vh;
  width: 7vw;
  border-radius: 5px;
  margin: 0 0.3vw;
  transition: background-color 0.2s ease-in-out;
}
.category-button:hover{
  background-color: #dfd9d0;
  font-weight: 550;
}
.category-button.selected{
  background-color: var(--sandy);
  font-weight: 550;
}
.category-button.selected:hover{
  background-color: #dfd9d0;
  font-weight: 400;
}
