<div class="favorite-item-card" *ngIf="favoriteItem">
  <a [routerLink]="['/details', favoriteItem.product.id]" class="product-link-area">
    <img
      [src]="getProductImage()"
      [alt]="favoriteItem.product.name"
      class="product-image">
    <div class="product-info"> <h4 class="product-name">{{ favoriteItem.product.name }}</h4>
      <p class="product-price">{{ favoriteItem.product.price | currency:'₸ ' }}</p>
    </div>
  </a>

  <div class="product-actions">
    <app-cart-button [productId]="favoriteItem.product.id"></app-cart-button>
    <button (click)="onRemoveClick()" class="btn-remove" title="Remove from Favorites">
      &times;
    </button>
  </div>
</div>
