.brand-logo{
    width: 15vw;
    margin-left: 2vh;
}
header{
    background-color: #e1c69b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.input-place{
    color: #3c5654;
    border: none;
    height: 5vh;
    border: 1px solid white;
    padding-left: 5px;
    border-radius: 5px;
}
.input-place:focus{
    border: 1px solid #3c5654;
}
button{
  height: 5vh;
}

/* products */
main{
    display: flex;
    justify-content: center;
}

.logging{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
}
.logging button{
  width: 5vw;
}

.temp-tumbler{
  position: absolute;
  top: 1vh;
}

.logged{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15vw;
}
.logged div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vh;
}
.logged-buttons{
  width: 10vw;
  display: flex;
  justify-content: space-between;
}
#user{
  justify-content: center;
  width: 12vh;
}
.user-img{
  width: 5vh;
}
.pop-up{
  position: absolute;
  top: 8vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  height: 14vh;
  width: 14vw;
  border-radius: 10px;
  border: 1px solid var(--primary);
  z-index: 100000;
}
.pop-up button{
  width: 8vw;
  height: 3.5vh;
}

footer{
  background-color: var(--primary-dark);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 2vw 3.5vw;
  margin-top: 15vh;
}
footer h4{
  color: #FFFFFF;
}
footer p{
  color: #FFFFFF;
}
footer a{
  color: #FFFFFF;
}
.social-links{
  display: flex;
  flex-direction: column;
  width: 15vw;
}
.social{
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links-div{
  display: flex;
  flex-direction: row;
}
.social img{
  width: 3vh;
  height: 3vh;
}
.service-links{
  display: flex;
  flex-direction: column;
}
