<header>
  <img [routerLink]="['/']" class="brand-logo" src="/assets/logo.png" alt="logo">
  <div>
    <section *ngIf="!logged_in" class="logging">
      <button class="primary" id="sign_in" [routerLink]="['/sign-in']">Sign in</button>
      <button class="primary" id="sign_up" [routerLink]="['/sign-up']">Sign up</button>
    </section>
    <div class="logged" *ngIf="logged_in">
      <div>
        <button class="primary" [routerLink]="['/cart']">Cart</button>
        <button class="primary" [routerLink]="['/favorite']">Favorite</button>
      </div>
      <div id="user">
        <img class="user-img" src="assets/user.png" (click)="popUp()">
        <section class="pop-up" *ngIf="isPopupVisible">
          <button [routerLink]="['/orders']">Orders</button>
          <button>Sign out</button>
        </section>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="results">
    <router-outlet></router-outlet>
  </section>
  <input class="temp-tumbler" type="checkbox" (click)="log()">
</main>
<footer>
  <div>
    <h4>About</h4>
    <p>FreeBird - your partner in music shopping world</p>
    <p>Address: Almaty, Tole bi str. 58</p>
    <p>Phone:<br>
      +7 (777) 123-45-78<br>
      +7 (771) 234-56-890
    </p>
  </div>
  <div class="social-links">
    <h4>Social networks: </h4>
    <div class="social-links-div">
      <a class="social"><img src="assets/whatsapp.png"></a>
      <a class="social"><img src="assets/telegram.png"></a>
      <a class="social"><img src="assets/Instagram-Icon.png"></a>
    </div>
  </div>
  <div class="service-links">
    <h4>Useful emails:</h4>
    <a href="mailto:maksimsarsekeev@gmail.com">Service support</a>
    <a href="mailto:maksimsarsekeev@gmail.com">Technical support</a>
  </div>
  <h4>© FreeBird 2025</h4>
</footer>
