<header>
  <img [routerLink]="['/']" class="brand-logo" src="/assets/logo.png" alt="logo">
  <div>
    <section *ngIf="!logged_in" class="logging">
      <app-routing-button [routePath]="['/sign-in']">Sign in</app-routing-button>
      <app-routing-button [routePath]="['/sign-up']">Sign up</app-routing-button>
    </section>
    <div class="logged" *ngIf="logged_in">
      <div class="logged-buttons">
        <app-routing-button [routePath]="['/cart']">Cart</app-routing-button>
        <app-routing-button [routePath]="['/favorite']">Favorite</app-routing-button>
      </div>
      <div id="user">
        <img class="user-img" src="assets/user.png" (click)="popUp()">
        <section class="pop-up" *ngIf="isPopupVisible">
          <h4 *ngIf="user?.username">{{user?.username}}</h4>
          <button [routerLink]="['/orders']">Orders</button>
          <button (click)="sign_out()">Sign out</button>
        </section>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="results">
    <router-outlet></router-outlet>
  </section>
</main>
<footer>
  <div>
    <h4>About</h4>
    <p>FreeBird - your partner in music shopping world</p>
    <p>Address: Almaty, Tole bi str. 59</p>
    <p>Phone:<br>
      +7 (777) 123-45-78<br>
      +7 (771) 234-56-890
    </p>
  </div>
  <div class="social-links">
    <h4>Social networks: </h4>
    <div class="social-links-div">
      <a class="social"><img src="assets/whatsapp.png"></a>
      <a class="social"><img src="assets/telegram.png"></a>
      <a class="social"><img src="assets/Instagram-Icon.png"></a>
    </div>
  </div>
  <div class="service-links">
    <h4>Useful emails:</h4>
    <a href="mailto:maksimsarsekeev@gmail.com">Service support</a>
    <a href="mailto:maksimsarsekeev@gmail.com">Technical support</a>
  </div>
  <h4>© FreeBird 2025</h4>
</footer>
